.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
    background-color: rgb(248, 250, 225);
}

.col-4{
    padding:0px;
    
}

.card-body{
    background-color: rgb(255, 255, 255);
    padding-bottom: 5px;
    
}

.col-12{
    padding-top:5px;
    padding-bottom: 5px;
}

